<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.omer.midburneo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_midburn_apps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginAc"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterAc"
            android:label="התחברות">
            <intent-filter>
                <action android:name="RegisterAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CampsAc"
            android:label="הרשמה מחנה נושא">
            <intent-filter>
                <action android:name="CampsAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateCampAc"
            android:label="יצירת מחנה נושא">
            <intent-filter>
                <action android:name="CreateCampAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tabs.AdminAc"
            android:label="עריכת מחנה נושא">
            >

            <intent-filter>
                <action android:name="AdminAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tabs.MainPageAc"
            android:label="עמוד ראשי">

            <intent-filter>
                <action android:name="MainPageAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScheduleAc"
            android:label="לוח פגישות">
            <intent-filter>
                <action android:name="ScheduleAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Tabs.ChatAc"
            android:label="אנשי קשר בקמפ">
            <intent-filter>
                <action android:name="ChatAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tabs.EquipmentAc"
            android:label="רשימת ציוד">
            <intent-filter>
                <action android:name="AdminAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tabs.NotesAc"
            android:label="רשימת מטלות">
            <intent-filter>
                <action android:name="AdminAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tabs.ChatListAc"
            android:label="צ'אט">
            <intent-filter>
                <action android:name="AdminAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tabs.ProfileAc"
            android:label="פרופיל">
            <intent-filter>
                <action android:name="AdminAc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />


        <activity
            android:name=".AddNoteActivity"
            android:label="הוסך פגישה" />

        <activity
            android:name=".NotePreviewActivity"
            android:label="דף הפגישה" />
        <activity
            android:name=".Tabs.EquipmentPreviewAc"
            android:label="דף הציוד" />

        <activity
            android:name=".Tabs.EquipmentEditAc"
            android:label="ציוד לעריכה" />

        <activity
            android:name=".Utils.UtilHelper"
            android:label="Standard calendar" />

        <activity
            android:name=".Utils.PopUpUser"
            android:label="" />
        <activity
            android:name=".Tabs.NoteEditAc"
            android:label="עריכת מטילה" />


        <activity
            android:name=".Tabs.AddGroupAc"
            android:label="הוסף קבוצה">

        </activity>


        <service android:name=".Service.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notification_channel_id" />

    </application>

</manifest>